
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	font-family: 'Poppins';
    margin: 0;
}

header > div {
	padding: 0  25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.search-form {
    width:100% ; 
    
}
  
form label {
  color: rgba(0, 0, 0, 0.5);
}

form input {
  color: rgba(0, 0, 0, 0.5);
  
    
}

form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

form button,
.btn-danger {
  background-color: #fb3e44;
  color: white;
  border: none;
}


.hero{
    width: 100%;
    min-height: 70vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
}

.open-source-section{
    background-color: #fff;
}

.triangle-hexagon-img{
    width: 140px;
    height: auto;
    opacity: 0.80;
    
}


.highlight-title{
    display: inline;
    background-color: #f5d37a;
    padding: 0.15em 0.2em;
    font-weight: 700;
    line-height: 1.4;
    

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone ;
    
}


.enterprise-text{
    max-width: 700px;
    margin: 0 auto;
    color: #6c6c6c;
    font-size: 15px;
}

.npm-features{
    background-color: #fff;
}

.hero{
    height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.see-plans-btn{
    background-color: #Fb3b49;
    color: white;
    border:none;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: 600;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    width: 200px;
}

.join-for-free-btn{
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 4px;
    width: 200px;
}

.feature-icon{
    height: 32px;
    opacity: 0.9;
}

.feature-title{
    color: #cb3837;
    font-weight: 600;
    margin-bottom: 8px;
}

.feature-text{
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.npm-features .row > div{
    padding-left: 20px;
    padding-right: 20px;
}

.create-org-btn{
    border:none;
    padding: 14px 32px;
    box-shadow: 0 10px 5px hsla(0, 0%, 20%, 0.9);
}